<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Layouts</title>
  </head>
  <body>
    <div id="div-grid">
      <header id="div-cabecalho">
        <h1>TecDisco</h1>
      </header>

      <nav id="menu-lateral">
        <a href="">Home</a>
        <a href="">Sobre</a>
        <a href="">Contato</a>
      </nav>

      <div id="div-conteudo">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <footer id="footer">
        <h2>Todos os Direitos Reservados</h2>
      </footer>
    </div>
  </body>
</html>
