/*limpando margin e padding da página*/
* {
  padding: 0;
  margin: 0;
}

/*definindo fonte e caracteristicas do body*/
body {
  font-size: 62,5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*definindo grid na div-grid*/
#div-grid {
  display: grid;
  width: 70vw;
  margin: 0 auto;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 10vw 1fr 5vw;
  grid-template-areas:
    "header header"
    "menu conteudo"
    "footer footer";
}

/*formatação div cabeçalho*/
#div-cabecalho {
  grid-area: header;
  background: black;

  display: flex;
  justify-content: center;
  place-items: center;
}

#div-cabecalho h1 {
  padding: 10px;
  font-size: 5em;
  font-family: Blippo, fantasy;
  color: white;
}

/*formatação div menu-lateral*/
#menu-lateral {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#menu-lateral a {
    padding: 30px 0;
    background: black;
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-family: Blippo, fantasy;
}

/*formatação div conteúdo*/
#div-conteudo {
  text-align: justify;
  grid-area: conteudo;
}

/*formatação div footer*/
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  grid-area: footer;
  background: black;
}

#footer h2 {
    color: white;
}
