/*formatação do corpo*/
body {
  font-size: 1rem;
  font-family: "Brush Script MT", "cursive";
  text-align: center;
}

/*formatação da div*/
#menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 10vw;
  text-align: center;
}

/*formatando links*/
a {
  padding: 10px;
  font-size: 3em;
  text-decoration: none;
  color: black;
  background: greenyellow;
}

a:hover {
  color: rgb(255, 255, 255);
  background: rgb(159, 236, 43);
}

.selecionado {
  background: rgb(159, 236, 43);
}