/*formatação do corpo*/
body {
  font-size: 1rem;
  font-family: "Brush Script MT", "cursive";
}

/*formatação da ul*/
#menu {
  margin: 0 auto;
  width: 10vw;
  text-align: center;
}

/*formatando links*/
li {
  padding: 10px 20px;

  list-style-type: none;
  font-size: 2em;

  color: black;
  background: rgb(0, 255, 42);
}

li:hover {
  background: rgb(0, 240, 40);
  color: white;
}
